<!-- seem this https://github.com/PX4/PX4-Avoidance/blob/master/tools/generate_launchfile.sh.deprecated
    is NOT TO BE USED anymore.. anyway lets grep what I need-->
<launch>
    <!-- Launch avoidance -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="~/catkin_ws/src/avoidance/local_planner/resource/custom_rosconsole.conf"/>
    <arg name="pointcloud_topics" default="/airsim_node/PX4/mk1/DepthPerspective/points_radial"/>
    <arg name="manager"             default="local_planner_manager"/>
  <!--
    <node name="local_planner_node" pkg="local_planner" type="local_planner_node" output="screen" required="true" >
      <param name="goal_x_param" value="0" />
      <param name="goal_y_param" value="0"/>
      <param name="goal_z_param" value="4" />
      <rosparam param="pointcloud_topics" subst_value="True">\$(arg pointcloud_topics)</rosparam>
    </node>
  -->
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="local_planner_nodelet" args="load LocalPlannerNodelet $(arg manager)" output="screen">
      <param name="goal_x_param" value="17" />
      <param name="goal_y_param" value="15"/>
      <param name="goal_z_param" value="3" />
      <!--<rosparam param="pointcloud_topics" subst_value="True">$(arg pointcloud_topics)</rosparam>-->
      <param name="pointcloud_topics" type="string" value="/airsim_node/PX4/mk1/DepthPerspective/points_radial" />
    </node>
</launch>
